
@font-face {
    font-family: 'Alice';
    src: url('assets/fonts/Alice-Regular.ttf');
}

body {
    color: #ffffff;
    background-color: #002838;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.8);
    box-shadow: inset 0 0 100px rgba(0,0,0,.8);
    font-family: "Alice";
}

.mainContainer {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 15px;
}

.content {
    font-size: 18px;
}

.titleContainer {
    margin: auto;
    max-width: 605px;
}

.title {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.subTitle {
   margin-bottom: 20px;
   font-size: 30px;
   text-align: center;
}

.header {
    font-size: 50px;
    line-height: 1;
}

.googlePlayBadgeContainer {
    text-align: center;
    margin-top: 40px;
}

.googlePlayBadge {
    width: 300px;
    height: auto;
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: auto;
}

.features {
  margin-top: 20px;
}

.featurette-divider {
  margin: 40px 0;
}

.lead {
    font-size: 18px;
}

.featurette-heading {
  font-weight: 300;
}

a:link {
    color: #E9A302;
    text-decoration: none;
}

a:visited {
    color: #E9A302;
    text-decoration: none;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .subTitle {
    font-size: 40px;
  }
  .lead {
    font-size: 22px;
  }
}

@media (min-width: 992px) {

    .title {
         margin-top: 50px;
         margin-bottom: 50px;
    }

    .features {
        margin-top: 40px;
    }


   .subTitle {
         margin-bottom: 40px;
    }

}
